<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username">
        <button onclick=redirect()>OK</button>
    </div>
    <script>
        function redirect() {
            const _username = document.getElementById("username").value;
            fetch('/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    username: _username
                })
            }).then(function (response) {
            }).then(function (data) {
                console.log('Success:', data);
                console.log('hasldkasdnkajsbdij')
                window.location.href = `/chats`;
            }).catch((error) => {
                console.error('Error:', error);
            });
            window.location.href = `/chats`;
            // Redirect to the Flask route with the username as a URL parameter
        }
    </script>
</body>
</html>